<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Iris4Life</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" />
    <link rel="stylesheet" href="css/AdminLTE.css" />
    <link rel="stylesheet" href="css/blocks.css" />
    <link rel="stylesheet" href="css/cubeportfolio.min.css" />
    <link rel="stylesheet" href="css/custom-cubeportfolio.css" />
    <link rel="stylesheet" href="css/footer-v7.css" />
    <link rel="stylesheet" href="css/line-icons.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.css" />
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/font-awesome.css"/>
</head>
<body>
<!--=== Header ===-->
<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="menu-container page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="images/iris4life.png" alt="Logo" style="width:50px;height:50px;float:left">
            <a class="navbar-brand" href="">
                <span>Iris4Life</span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="menu-container">
                <ul class="nav navbar-nav">
                    <li class="page-scroll">
                        <a href="" ng-click="goToExlore()">Explorer</a>
                    </li>
                    <li class="page-scroll">
                        <a href="" ng-click="goToLogin()">Login</a>
                    </li>
                    <li class="page-scroll">
                        <a href="" ng-click="goToRegister()">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!--=== End Header ===-->
<!-- Intro Section -->
<div class="container" style="width:100%; padding: 0;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators" >
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="ir-banner" id="bg-image1">
                    <div class="ratio-46" >
                        <!--<img alt="Ảnh bìa" src="images/bg1.jpg" />-->
                        <div class="bg-black7"></div>
                        <div class="home_top_banner">
                            <div>
                                <h3 >“Where there is love, there is life”</h3>
                                <p> - Mahatma Gandhi - </p>
                                <br>
                                <a href="" class="btn-u btn-brd btn-brd-hover btn-u-light " style="margin-left: 2px">LEARN MORE</a>
                                <a href="" ng-click="goToExplorer()" class="btn-u btn-brd btn-brd-hover btn-u-light" style="margin-left: 10px">  EXPLORE QTN  </a>
                            </div>
                        </div>
                        <!-- # Home top banner -->
                    </div>
                    <!-- # ratio-46 -->
                </div>
            </div>
            <div class="item">
                <section class="ir-banner" id="bg-image2">
                    <div class="star-icon" id="star-icon-2-left"></div>
                    <div class="star-icon" id="star-icon-2-right"></div>
                    <div class="ratio-46" >
                        <!--<img alt="Ảnh bìa" src="images/bg2.jpg" />-->
                        <div class="bg-black7"></div>
                        <div class="home_top_banner">
                            <div>
                                <h3 >“Where there is great love, there are always miracles”</h3>
                                <p>- Willa Cather -
                                </p><br>
                                <a href="" class="btn-u btn-brd btn-brd-hover btn-u-light " style="margin-left: 2px;">LEARN MORE</a>
                                <a href="" ng-click="goToExlorer()" class="btn-u btn-brd btn-brd-hover btn-u-light" style="margin-left: 10px">EXPLORE QTN</a>
                            </div>
                        </div>
                        <!-- # Home top banner -->
                    </div>
                    <!-- # ratio-46 -->
                </section>
            </div>
            <div class="item">
                <section class="ir-banner" id="bg-image3">
                    <div class="star-icon" id="star-icon-3-left"></div>
                    <div class="star-icon" id="star-icon-3-right"></div>
                    <div class="ratio-46" >
                        <!--<img alt="Ảnh bìa" src="images/bg3.jpg" />-->
                        <div class="bg-black7"></div>
                        <div class="home_top_banner">
                            <div>
                                <h3 >"Where there is love, nothing is too much trouble and there is always time”</h3>
                                <p>- Abdul Baha -</p><br>
                                <a href="" class="btn-u btn-brd btn-brd-hover btn-u-light " style="margin-left: -19px">LEARN MORE</a>
                                <a href="" ng-click="goToExlorer()" class="btn-u btn-brd btn-brd-hover btn-u-light" style="margin-left: 10px">EXPLORE QTN</a>
                            </div>
                        </div>
                        <!-- # Home top banner -->
                    </div>
                    <!-- # ratio-46 -->
                </section>
            </div>
        </div>
        <!--<a class="carousel-control" href="#bnSlider" data-slide="prev"></a>-->
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- End Intro Section -->
<section id="about" class="about-section section-first">
     <div class="about-image bg-grey1">
        <div class="container">
            <div class="title-v1">
                <h1>WHO WE ARE</h1>
                <p><strong>Iris4Life</strong> is a portal for all people to do Charity jobs in Vietnam<br>
                    Focused on connecting donors, non-government organizations, volunteers <br>with meaningful projects and disadvantaged causes.</p>
            </div>
            <div class="img-center">
                <img class="img-responsive" src="images/mockup.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<div class="container content-lg">
    <div class="title-v1">
        <h2>OUR VISION AND MISSION</h2>
        <p><strong>Iris4Life </strong>builds a net covering all Vietnamese Charity environment <br>
            We work hard to carry crowd-source power into meaningful projects saving thousands of disadvantaged lives.</p>
    </div>

    <div class="row">
        <div class="col-md-6 content-boxes-v3 margin-bottom-40">
            <div class="clearfix margin-bottom-30">
                <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
                <div class="content-boxes-in-v3">
                    <h2 class="heading-sm">COMFORT DONORS</h2>
                    <p>Always clearing and updating lasted information about all projects and causes appeared on Iris4Life website, we dispel donors’ fears of wasting their money into unbelievable projects.</p>
                </div>
            </div>
            <div class="clearfix margin-bottom-30">
                <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
                <div class="content-boxes-in-v3">
                    <h2 class="heading-sm">SUPPORT NON-GOVERNMENT ORGANIZATIONS</h2>
                    <p>With Iris4Life, NGOs no more worry about cancelled projects due to lack of finance, which gives them opportunities to implement activities meaningful for communities.</p></div>
            </div>
            <div class="clearfix margin-bottom-30">
                <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>
                <div class="content-boxes-in-v3">
                    <h2 class="heading-sm">INFORM VOLUNTEERS</h2>
                    <p>Expanding opportunities to take part in Charity projects and better lives of the disadvantaged is what Iris4Life means to volunteers.</p></div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="images/mockup1.png" alt="">
        </div>
    </div>
</div>
<!-- Portfolio Section -->

<section id="portfolio" class="about-section">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>WHAT WE DO</h2>
            <p>At Iris4Life, you can find tools to do multiple things for the better Charity environment in Vietnam.<br>
            </p>
        </div>
        <ul class="list-unstyled row portfolio-box-v1">
            <li class="col-sm-4">
                <img class="img-responsive" src="images/img-portfolio1.jpg" alt="">
                <div class="portfolio-box-v1-in">
                    <h3>Call for crowd investments</h3>
                    <p>At any time, any place, people can do Charity with Iris4Life system. We create a variety of donating channels which allows even the smallest contribution through mobile, social network and website.</p>
                </div>
            </li>
            <li class="col-sm-4">
                <img class="img-responsive" src="images/img-portfolio2.jpg" alt="">
                <div class="portfolio-box-v1-in">
                    <h3> Report of operations</h3>
                    <p>Members joining our network can follow the project they care, receiving lasted reports of financial and operational status, making sure that the projects are being run and their results are bettering society.</p>
                </div>
            </li>
            <li class="col-sm-4">
                <img class="img-responsive" src="images/img-portfolio3.jpg" alt="">
                <div class="portfolio-box-v1-in">
                    <h3> Information record</h3>
                    <p>Iris4Life system memorizes the activities of all members into their online CVs on which we steadily rank top users whose contributions are more significant than other people, thus they can have big sayings in the network.</p>
                </div>
            </li>
        </ul>
</section>
<!-- End Portfolio Section -->
<section id="about" class="about-section section-first">
    <div class="about-image bg-grey">
        <div class="container">
            <div class="title-v1">
                <h1>HOW WE WORK</h1>
                <p>Under the supervision of dedicated <strong>Iris4Life</strong> management board, our system are controlled tightly to make sure any detail can be <strong>trusted.</strong></p>
            </div>
            <div class="img-center">
                <img class="img-responsive" src="images/img-about.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Services Section -->

<!-- End Services Section -->
<section id="portfolio">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>OUR ACTIVITIES</h2>
            <p>There is no exception in <strong>Iris4Life</strong> network <br>
                Iris4Life aims at giving supports for projects and causes on any field of
                <br><strong>Vietnam Charity world</strong><br>
            </p>
        </div>
    </div>
    <div class="parallax-twitter parallaxBg">
        <div class="container parallax-twitter-in">
            <div class="margin-bottom-30">
                <i class="icon-custom rounded-x icon-bg-blue fa fa-twitter"></i>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="list-unstyled owl-twitter-v1 owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer" id="head-portfolio">
                            <li class="item">
                                <p> 	Education</p>
                                <p><span>We allow projects about improving educational conditions in Vietnam to be appeared on our website.</span></p></li>
                            <li class="item">
                                <p> 	 	Health care </p>
                                <span>What pretends to give better healthcare services for Vietnamese people can call for investments and attendance in Iris4Life network.</span>
                            </li>
                            <li class="item">
                                <p> 	Culture </p>
                                <span>To reserve and develop Vietnamese cultural heritages, we don’t mind doing our best for spreading projects belong to this field through Iris4Life community.</span>
                            </li>
                            <li class="item">
                            <p> 	 	Environment</p>
                            <span>Iris4Life community always welcome projects for the purpose of protecting and enhancing Vietnamese environment.</span>
                            </li>
                        <li class="item">
                            <p> 	 	Disadvantaged situations</p>
                            <span>Projects to better the lives of millions Vietnam are always what Iris4Life aims at.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- services Section -->
<section id="news" class="news-section">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>WHY IRIS4LIFE?</h2>
            <p><strong>Iris4Life</strong> was born to make differences<br>
                We take advantage of all what we have to create a new era for <strong>Vietnamese Charity</strong><br>
            </p>
            <div class="row news-v1" style="list-style: none">
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="news-v1-in">
                        <img class="img-responsive" src="images/img-news.jpg" alt="">
                        <h3><a href="">Free cost</a></h3>
                        <li>Our vision is to better Vietnam Charity network, we require no cost from our all members; thus, they needn’t worry about losing their money before getting something for their projects.</li>
                    <ul class="list-inline news-v1-info">
                    </ul>
                        </div>
                </div>
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="news-v1-in">
                        <img class="img-responsive" src="images/img-news1.jpg" alt="">
                        <h3><a href="">Trusted information</a></h3>
                        <li>Thanks to our monitoring system, Iris4Life can confidently affirm users with providing accurate and updated information about projects and causes appeared on our website.</li>
                        <ul class="list-inline news-v1-info" >
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="news-v1-in">
                        <img class="img-responsive" src="images/img-news2.jpg" alt="">
                        <h3><a href="">Diverse areas</a></h3>
                        <li>At Iris4Life, there is no excepted field. We cover all which relate to Vietnamese Charity environment, as saying Education, Healthcare, Culture, Nature, The disadvantaged.</li>
                        <ul class="list-inline news-v1-info">
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="news-v1-in">
                        <img class="img-responsive" src="images/img-news3.jpg" alt="">
                        <h3><a href="">Total solution</a></h3>
                        <li>Iris4Life is not just crowd-funding but crowd-source, meaning that our support for Vietnam Charity network only stops when projects and causes are fully implemented and resulted in good contributions.</li>
                        <ul class="list-inline news-v1-info">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container content-lg">
            <div class="title-v1">
                <h2>HOW IT WORKS</h2>
                <p>Easy, clear and careful are the processes we run in <strong>Iris4Life</strong> network</p>
            </div>
            <div class="row service-box-v1">
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default" style="height: 485px">
                        <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
                        <h2 class="heading-md">For Donors</h2>
                        <p></p>
                        <ul class="list-unstyled">
                            <li>Sign up an account</li>
                            <li>Choose projects/causes</li>
                            <li>Make donations</li>
                            <li>Receive confirmed email</li>
                            <li>Get reports through website and email</li>
                            <li>Take refunds if projects/causes don’t work</li></ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default" style="height: 485px">
                        <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-present"></i>
                        <h2 class="heading-sm">For NGOs</h2>
                        <p></p>
                        <ul class="list-unstyled">
                            <li>Sign up an account</li>
                            <li>Send profiles of projects/causes</li>
                            <li>Review registered volunteers if have</li>
                            <li>Keep track of accepted projects/causes</li>
                            <li>Get fund/volunteers at the end of donation time</li>
                            <li>Report operations regularly</li></ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="service-block service-block-default" style="height: 485px">
                        <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
                        <h2 class="heading-sm">For volunteers</h2>
                        <p></p>
                        <ul class="list-unstyled">
                            <li>Sign up an account</li>
                            <li>Apply for projects recruiting volunteers</li>
                            <li>Wait for confirmed emails</li>
                            <li>Work for registered projects if acepted</li>
                            <li>Upload causes if haved</li>
                            <li>Report operations of causes regularly</li></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="call-action-v1">
            <div class="container">
                <div class="call-action-v1-box">
                    <p><strong>QTN Global</strong> is for talent to be found, dream to be followed and life to be glorious.<br>
                        Join us now so you can try these!</p>
                    <div class="call-action-v1-in inner-btn page-scroll">
                        <a class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- End News Section -->
<!-- Contact Section -->
<section id="contact" class="contacts-section">
    <div class="container content-lg">
        <div class="title-v1">
        <br>
        <h2>Contact Us</h2>
        <p>Send us if you have any question</p>
        </div>
        <div class="row contacts-in">
            <div class="col-md-6 md-margin-bottom-40">
            <ul class="list-unstyled">
                <li><i class="fa fa-home"></i> 300 Vo Nguyen Giap street, Da Nang city, Viet Nam</li>
                <li><i class="fa fa-phone"></i> +84 (0511) 655 6999</li>
                <li><i class="fa fa-envelope"></i> <a href="">admin@qtnglobal.org</a></li>
                <li><i class="fa fa-globe"></i> <a href="">www.qtnglobal.org</a></li>
            </ul>
        </div>

            <div class="col-md-6">
            <form action="" method="post" id="sky-form3" class="sky-form contact-style" novalidate="novalidate">
                <fieldset>
                    <label>Name</label>
                    <div class="row" style="margin: 0 -15px 0 -15px">
                        <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                            <div>
                                <input type="text" name="name" id="name" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <label>Email <span class="color-red">*</span></label>
                    <div class="row" style="margin: 0 -15px 0 -15px">
                        <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                            <div>
                                <input type="text" name="email" id="email" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <label>Message</label>
                    <div class="row" style="margin: 0 -15px 0 -15px">
                        <div class="col-md-11 margin-bottom-20 col-md-offset-0">
                            <div>
                                <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark">Send Message</button></p>
                </fieldset>

                <div class="message">
                    <i class="rounded-x fa fa-check"></i>
                    <p>Your message was successfully sent!</p>
                </div>
            </form>
            </div>
        </div
</div>

</section>
<!-- End Contact Section -->
<div class="copyright-section" style="color: #555">
    <p>2015 © All Rights Reserved. QTN Theme by <a target="_blank" href="https://www.facebook.com/qtnglobal?fref=ts">Silicon Chapter</a></p>
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/qtnglobal?fref=ts" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
        <li><a href="https://www.facebook.com/qtnglobal?fref=ts" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
        <li><a href="https://www.facebook.com/qtnglobal?fref=ts" data-original-title="Goole Plus" class="social_google-plus rounded-x"></a></li>
        <li><a href="https://www.facebook.com/qtnglobal?fref=ts" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
    </ul>
</div>

<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto
    }

    /* Banner top */
    .ratio-46 {
        position: relative; width: 100%;
        padding-bottom: 58.7%;
    }
    .ratio-46 > img {
        position: absolute; width: 100%;
        height: 100%; top: 0; left: 0;
        right: 0; bottom: 0; margin: auto;
    }
    .bg-black7 {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%; height: 100%;
    }
    .ir-banner { position: relative;}
    .ir-banner:after {
        /*  content: "";
          width: 100%;    height: 10px;
          position: absolute;
          bottom: 0;    left: 0;
          background: linear-gradient(-60deg,#fff 25%,transparent 25%) center top repeat-x,
                      linear-gradient(-120deg,transparent 75%,#fff 75%) center top repeat-x;
          background-size: 9px 10px;*/
    }
    .home_top_banner {
        position: absolute;
        width: 100%; height: 100%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .home_top_banner div {
        position: relative;
        top: 43%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
    }
    .home_top_banner div h3 {
        color: white;
        font-size: 33px;
        width: 100%;
        margin: 40px auto 20px auto;
        line-height: 49px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        visibility: visible;
    }

    .home_top_banner div h1 {
        color: white;
        font-size: 33px;
        width: 50px;
        margin: 40px auto 20px auto;
        line-height: 49px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        visibility: visible;
        border-top: 1px solid #FFF;
    }

    .home_top_banner div h2 {
        color: white;
        font-size: 33px;
        width: 200px;
        margin: 40px auto 20px auto;
        line-height: 49px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        visibility: visible;
        border-bottom: 1px solid #FFF;
    }

    .home_top_banner div p {
        color: white;
        line-height: 23px;
        font-size: 28px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        /*padding-bottom: 25px;*/
    }

    @media only screen and (max-width: 767px) {
        .ratio-46 {   padding-bottom: 345px;     }
        .home_top_banner div h3 {
            font-size: 4vw; width: 100%;
        }
    }

    @media only screen and (max-width:  380px) {
        .home_top_banner div h3 {
            font-size: 15px;
        }
    }

    .carousel-control{
        position: absolute;
        top: 45%;
        left:15px;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        font-size: 60px;
        font-weight: 100;
        line-height: 30px;
        color: #FFF;
        text-align: center;
        opacity: 0.5;
        border-radius: 100%;
    }
    .carousel-control.right {
        left: auto;
        right: 15px;
    }

    .ir-banner{
        background-color: rgba(0, 0, 0, 0);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .ir-banner:before {
        top: 0; left: 0;
        width: 100%; height: 100%; content: " ";
        position: absolute;
        background: url(images/gridtile.png) repeat
    }
    #bg-image1{
        background-image: url(images/bg1.jpg);
    }
    #bg-image2{
        background-image: url(images/bg2.jpg)
    }
    #bg-image3{
        background-image: url(images/bg3.jpg)
    }

    .star-icon{
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 60px;
        font-weight: 100;
        line-height: 30px;
        color: #FFF;
        text-align: center;
        margin-top: 190px;
        /*background: none repeat scroll 0 0 #222;*/
        opacity: 0.5
    }
    #star-icon-1-left{
        left:100px
    }
    #star-icon-1-right{
        right:115px
    }
    #star-icon-2-left{
        left: 250px
    }
    #star-icon-2-right{
        right: 265px
    }
    #star-icon-3-left{
        left: 250px
    }
    #star-icon-3-right{
        right: 265px
    }
</style>
<script src="js/jquery.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.cubeportfolio.min.js"></script>
<script src="js/config.js"></script>
<script src="js/lb-services.js"></script>
<script src="js/translations.js"></script>
<script>

    $(document).ready(function() {

        $("#head-portfolio").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds

            items : 1,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,3]

        });

    });

</script>
<script>

    $(document).ready(function() {

        var owl = $("#our-client");

        owl.owlCarousel({
            autoPlay: 3000,
            items : 5, //10 items above 1000px browser width
            itemsDesktop : [1000,5], //5 items between 1000px and 901px
            itemsDesktopSmall : [900,3], // betweem 900px and 601px
            itemsTablet: [600,2], //2 items between 600 and 0
            itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
        });

        // Custom Navigation Events

    });

</script>
<script>

    $(document).ready(function() {

        $("#guest-comment").owlCarousel({

            navigation : true, // Show next and prev buttons
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem:true

            // "singleItem:true" is a shortcut for:
            // items : 1,
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false

        });

    });

</script>

<script>
    jQuery(document).ready(function() {
        App.init();
        App.initCounter();
        App.initParallaxBg();
    });
</script>
</body>
</html>